@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  hsl(225, 100%, 94%);
    height: 100vh;
    line-height: 1.6;
    text-decoration: none;
    padding: 1rem;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;


}   

.container {
    background-color: white;
    max-width: 23.5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 1px 10px hsl(245, 75%, 52%, 0.2);
}

#illustration-hero {
    width:100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

h1 {
    
    font-size: 1.7rem;
}

.inner-card p {
    color: hsl(224, 23%, 55%);
}
.inner-card {
    margin: 2rem;
}

#mainpar {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding:1rem;
}

.pricing {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}

.pricing img {
    margin:1rem;
}
.pricing-text {
    display: flex;
    align-items: center;
    font-size: 0.8em;

}

.btn {
    text-decoration: none;
    font-family: inherit;
    border: none;
}
.footerbtn {
    display: block;
}
.btn-change {
    text-decoration: underline;
    margin-right: 1rem;
    color:hsl(245, 75%, 52%);
    font-weight: bold;
}

.footerbtn {
margin-top: 1rem;
display: flex;
flex-direction:column;
gap: 1em;
}


.payment {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 8px;
    padding: 1rem;
    font-weight: bold;
    box-shadow: 0px 1px 5px hsl(245, 75%, 52%);
}

.cancel {
    background-color: transparent;
    font-weight: bold;
    color:hsl(224, 23%, 55%);
}

button:hover {
    cursor: pointer;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
    font-size: 0.9rem;
}

.payment:hover {
    background-color:  hsl(224, 23%, 55%);
    box-shadow: 0px 1px 5px hsl(224, 23%, 55%);
}